.header {
    background-color: #fff;
    @include breakpoint(pc) {
        padding: 6px 0;
    }
    @include breakpoint(sp) {
        @include converter-sp(padding, 20, 0);
        border-bottom: 1px solid #ddd;
    }
    p {
        @include breakpoint(pc) {
            font-size: 13px;
        }
        @include breakpoint(sp) {
            @include converter-sp(font-size, 16);
        }
    }
    &__wrapper {
        @include breakpoint(sp) {
            display: block;
            @include converter-sp(margin, 20, 0, 0);
        }
    }
    &__contact {
        @include breakpoint(sp) {
            width: 100%;
            @include converter-sp(margin, 10, 0, 0);
        }
        p {
            @include breakpoint(pc) {
                font-size: 18px;
            }
            @include breakpoint(sp) {
                @include converter-sp(font-size, 26);
            }
        }
        img {
            @include breakpoint(pc) {
                margin-right: 5px;
            }
            @include breakpoint(sp) {
                @include converter-sp(margin, 0, 5, 0, 0);
                @include converter-sp(width, 40);
            }
        }
        div {
            display: flex;
            align-items: center;
        }
        span {
            font-weight: 800;
            color: #ff9b00;
            @include breakpoint(pc) {
                font-size: 46px;
            }
            @include breakpoint(sp) {
                width: 100%;
                @include converter-sp(font-size, 46);
            }
            @include breakpoint(tablet) {
                font-size: 36px;
            }
            span {
                @include breakpoint(pc) {
                    font-size: 16px;
                }
                @include breakpoint(sp) {
                    width: 100%;
                    @include converter-sp(font-size, 24);
                }
            }

        }
    }
    .logo {
        @include breakpoint(tablet) {
            width: 40%;
        }
    }
}