.d {
	&__flex {
		@include breakpoint(pc) {
			display: flex;
		}
		&--vertical {
			&Center {
				@include breakpoint(pc) {
					align-items: center;
				}
			}
		}
		&--justify {
			&SpaceBetween {
				@include breakpoint(pc) {
					justify-content: space-between;
				}
			}
			&SpaceAround {
				@include breakpoint(pc) {
					justify-content: space-around;
				}
			}
			&Center {
				@include breakpoint(pc) {
					justify-content: center;
				}
			}
		}
		&Flow {
			&Col {
				@include breakpoint(pc) {
					flex-flow: column;
				}
			}
		}
	} 
}

.green {
	color: #01c48b;
}
.blue {
	color: #026bb7;
}
.orange {
	color: #ffb861;
}

.kv {
	position: relative;
	&__wrapper {
		background-image: url(../images/kv.png);
		background-repeat: no-repeat;
		background-position: top center;
		width: 100%;
		@include breakpoint(pc) {
			height: 657px;
			background-size: cover;
		}
		@include breakpoint(pc-lg) {
			height: 657px;
			background-size: contain;
		}
		@include breakpoint(sp) {
			background-size: cover;
			@include converter-sp(height, 400);
		}
	}
    &__bg {
		position: relative;
        &::before {
            content: '';
            height: 200px;
            width: 100%;
            position: absolute;
			top: -27px;
            background: rgb(255,255,255);
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(183,244,253,1) 100%);
			z-index: -1;
        }
	}
	&__buttons {
		@include breakpoint(sp) {
			@include converter-sp(margin, 20, 0, 0);
		}
		a {
			@include breakpoint(sp) {
				@include converter-sp(margin, 20, 0, 0);
			}
			&:first-of-type {
				margin: 0;
			}
		}
	}
}

.report {
    position: relative;
	overflow: hidden;
	@include breakpoint(pc) {
		height: 530px;
		padding: 50px 0 0;
	}
	@include breakpoint(sp) {
		@include converter-sp(height, 550);
		@include converter-sp(padding, 50, 0, 0);
	}
	&__text {
		@include breakpoint(pc) {
			padding: 0 50px;
			font-size: 24px;
			margin-top: 30px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 28);
			@include converter-sp(margin, 20, 0, 0);
		}
	}	
	&__img {
		position: absolute;
		display: block;
		@include breakpoint(pc) {
			bottom: -90px;
		}
		@include breakpoint(sp) {
			bottom: 0;
		}
		@include breakpoint(tablet) {
			width: 100%;
		}
	}
}

.request {
	padding: 70px 0 40px;
	background-color: #000;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/request.jpg);
	&::after {
		content: '';
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/arrow-down.png);
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 108px;
		height: 34px;
	}
	&__text {
		font-weight: 900;
		text-shadow:
            -1px -1px 0 #ffffff,  
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
		filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=100) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=-1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=-1);
		zoom: 1;
		line-height: 1.5;
		color: #333333;
		text-align: center;
		@include breakpoint(pc) {
			font-size: 62px;
		}
		@include breakpoint(tablet) {
			font-size: 52px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 46);
		}
	}
	&__wrapper {
		@include breakpoint(pc) {
			margin-top: 30px;
		}
		@include breakpoint(sp) {
			@include converter-sp(margin, 20, 0, 0);
		}
		& > img {
			@include breakpoint(pc) {
				width: calc(33.3333% - 10px);
				margin-right: 20px;
			}
		}
		& > div {
			@include breakpoint(pc) {
				width: calc(33.3333% - 10px);
			}
		}
	}
	&__item {
		border-radius: 20px;
		position: relative;
		@include breakpoint(pc) {
			height: 166px;
			margin-right: 20px;
			padding: 60px 30px 10px;
		}
		@include breakpoint(sp) {
			@include converter-sp(padding, 20, 30, 20);
			@include converter-sp(margin, 30, 0, 0);
		}
		&:last-of-type {
			@include breakpoint(pc) {
				margin: 0;
			}
		}
		&::before {
			content: '';
			background-color: rgb(255, 255, 255);
			opacity: 0.459;
			position: absolute;
			border-radius: 20px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
		}
		div {
			text-align: center;
			z-index: 1;
			position: relative;
			@include breakpoint(pc) {
				position: absolute;
				top: 6px;
				left: 50%;
				transform: translateX(-50%);
			}
			img {
				@include breakpoint(sp) {
					margin: 0 auto;
				}
			}
		}
		a {
			@include breakpoint(sp) {
				@include converter-sp(margin, 20, 0, 0);
				display: flex;
				align-items: center;
				justify-self: center;
			}
		}
	}
}
.reason {
	margin: 0 auto;
	position: relative;
    background-size: contain;
    background-position: top center;
	background-repeat: no-repeat;
	background-image: url(../images/water-drop.png);
	@include breakpoint(pc) {
		padding: 70px 0 90px;
	}
	@include breakpoint(sp) {
		@include converter-sp(padding, 70, 0);
	}
	&__text {
		color: #026bb7;
		text-align: center;
		font-weight: 700;
		letter-spacing: 0.5px;
		@include breakpoint(pc) {
			font-size: 44px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 50);
		}
		span {
			color: #333333;
			&:first-of-type {
				@include breakpoint(pc) {
					font-size: 80px;
				}
				@include breakpoint(sp) {
					@include converter-sp(font-size, 80);
				}
			}
			&:last-of-type {
				@include breakpoint(pc) {
					font-size: 54px;
				}
				@include breakpoint(sp) {
					@include converter-sp(font-size, 65);
				}
			}
		}
	}
	&__items {
		@include breakpoint(pc) {
			padding: 0 65px;
		}
		@include breakpoint(sp) {
			@include converter-sp(padding, 0, 20);
		}
	}
	&__item {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		background-color: rgb(255,241,186);
		background-color: linear-gradient(0deg, rgba(255,241,186,1) 0%, rgba(255,248,222,1) 100%);
		background-repeat: no-repeat;
		@include breakpoint(pc) {
			background-position: left;
			background-size: auto;
			margin-top: 25px;
		}
		@include breakpoint(sp) {
			background-image: none !important;
			@include converter-sp(margin, 20, 0, 0);
		}
		img {
			@include breakpoint(sp) {
				display: block;
				width: 100%;
				margin: 0 auto;
			}
		}
	} 
	&__details {
		flex: 1;
		@include breakpoint(pc) {
			padding: 40px 70px 40px 405px;
		}
		@include breakpoint(sp) {
			@include converter-sp(padding, 20, 30);
		}
		@include breakpoint(tablet) {
			padding: 40px 70px 40px 405px;
		}
	}
	&__img {
		width: 360px;
		height: 200px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__title {
		letter-spacing: 0.7px;
		font-weight: 700;
		@include breakpoint(pc) {
			font-size: 28px; 
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 36);
		}
	}
	&__desc {
		line-height: 1.5;
		letter-spacing: 0.5px;	
		@include breakpoint(pc) {
			font-size: 15px;
			margin-top: 25px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 24);
			@include converter-sp(margin, 10, 0, 0);
		}
	}
}

.problem {
	position: relative;
	padding: 50px 0;
	background: rgb(239,250,254);
	background: linear-gradient(0deg, rgba(239,250,254,1) 0%, rgba(176,230,249,1) 100%);
	&::before {
		content: '';
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/splash.png);
		top: -52px;
		width: 151px;
		height: 62px;
		@include breakpoint(pc) {
			right: 308px;
		}
		@include breakpoint(sp) {
			right: 0;
		}
	}
	&__title {
		color: #026bb7;
		font-weight: 700;
		text-align: center;
		text-shadow:
            -1px -1px 0 #ffffff,  
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
		filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=100) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=-1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=-1);
		zoom: 1;
		line-height: 1.5;
		@include breakpoint(pc) {
			font-size: 44px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 36);
		}
		span {
			color: #333333;
			&:first-of-type {
				@include breakpoint(pc) {
					font-size: 80px;
				}
				@include breakpoint(sp) {
					@include converter-sp(font-size, 50);
				}
			}
			&:last-of-type {
				@include breakpoint(pc) {
					font-size: 54px;
				}
				@include breakpoint(sp) {
					@include converter-sp(font-size, 40);
				}
			}
		}
	}
	&__items {
		@include breakpoint(pc) {
			margin-top: 40px;
		}
		@include breakpoint(sp) {
			@include converter-sp(margin, 40, 0, 0);
		}
	}
	&__item {
		position: relative;
		@include breakpoint(tablet) {
			margin-right: 10px;
		}
		&:last-of-type {
			@include breakpoint(tablet) {
				margin-right: 0;
			}
		}
		img {
			@include breakpoint(tablet) {
				width: 100%;
			}
		}
		&::after {
			content: '';
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../images/arrow-right.png);
			top: 60%;
			right: -66px;
			transform: translateY(-50%);
			width: 41px;
			height: 59px;
			@include breakpoint(sp) {
				display: none;
			}
		}
		&:last-of-type {
			&::after {
				display: none;
			}
		}
		img {
			display: block;
			@include breakpoint(sp) {
				width: 80%;
				margin: 2.66667vw auto 0;
			}
		}
	}
}

.pros {
	position: relative;
	@include breakpoint(pc) {
		padding: 0 0 55px;
	}
	@include breakpoint(sp) {
		@include converter-sp(padding, 0, 0, 50);
	}
	&__title {
		color: #026bb7;
		width: inherit;
		font-weight: 700;
		text-align: center;
		text-shadow:
            -1px -1px 0 #ffffff,  
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff;
		filter: progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=100) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=1,offY=-1) progid:DXImageTransform.Microsoft.dropshadow(color=#ffffff,offX=-1,offY=-1);
		zoom: 1;
		line-height: 1.5;
		@include breakpoint(pc) {
			transform: translateX(-50%);
			position: absolute;
			top: 60px;
			left: 50%;
			font-size: 44px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 44);
		}
		span {
			color: #333333;
			font-weight: 800;
			@include breakpoint(pc) {
				font-size: 58px;
			}
			@include breakpoint(tablet) {
				font-size: 50px;
			}
			@include breakpoint(sp) {
				@include converter-sp(font-size, 58);
			}
		}
	}
	&__img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		&Wrapper {
			text-align: center;
		}
	}
	&__text {
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.6px;
		line-height: 1.5;
		@include breakpoint(pc) {
			font-size: 36px;
			margin-top: 40px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 40);
			@include converter-sp(margin, 40, 0, 0);
		}
	}
	&__desc {
		text-align: center;
		letter-spacing: 0.15px;
		line-height: 1.5;
		@include breakpoint(pc) {		
			font-size: 18px;
			margin-top: 25px;
		}
		@include breakpoint(sp) {
			@include converter-sp(font-size, 22);
			@include converter-sp(margin, 25, 0, 0);
		}
	}
	&__table {
		width: 100%;
		@include breakpoint(pc) {
			margin-top: 50px;
		}
		@include breakpoint(sp) {
			@include converter-sp(margin, 40, 0, 0);
		}
		tr {
			td {
				border: 2px solid #fff;
				@include breakpoint(pc) {
					padding: 30px;
					font-size: 18px;
				}
				@include breakpoint(sp) {
					@include converter-sp(padding, 20);
					@include converter-sp(font-size, 24);
				}
				&:first-of-type {
					color: #fff;
					background-color: #026bb7;
				}
				&:last-of-type {
					background-color: #e7f8fd;
				}
			}
		}
	}
}

.footer {
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-image: url(../images/footer__bg.png);
	@include breakpoint(pc) {
		padding: 65px 0 35px;
	}
	@include breakpoint(sp) {
		@include converter-sp(padding, 40, 0);
	}
	&__company {
		text-align: center;
		@include breakpoint(pc) {
			margin-top: 140px;
			font-size: 14px;
		}
		@include breakpoint(sp) {
			@include converter-sp(margin, 140, 0, 0);
			@include converter-sp(font-size, 20);
		}
	}
}